@use "../../theme.scss";

.button-primary {
  background-color: var(--primary-colour);
  color: var(--complement-primary-colour);
  appearance: none;
  border: none;
  border-radius: 12px;
  padding: 12px 36px;
  outline: 2px solid var(--dark-primary-colour);
  outline-offset: -2px;
  transition: border 0.2s ease, background-color 0.2s ease,
    outline-offset 0.3s ease;
}

.button-primary:hover {
  background-color: var(--dark-primary-colour);
}

.button-primary:focus {
  outline-offset: 2px;
}
